.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  padding-bottom: 16px;
}

.containers {
  display: flex;
}

.count-display-container {
  border: 1px solid black;
  padding: 8px;
}

.container {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .name {
  background-color: white;
  font-size: 24px;
  padding: 4px;
  cursor: pointer;
}

